@use "variables" as *;


.blog-header{
    background-image: url(../../captured-final-assets/blog-header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.blog-nav{
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px 0 0;
}

.blog-title{
    display: flex;
    justify-content:center;
    flex-basis: 50%;
    margin-top: 140px;
}

