@use "variables" as *;

// header 
.contact-header {
    background-image: url(.././../captured-final-assets/contact-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.contact-title{
    text-align:center;
    margin-left: 400px;
    margin-top: 150px;

}

//

.bottom-section {
    display: flex;
    height: 50vh;
    margin-left: 100px;
}

// socials and contact info 

.connect{
    display: flex;
    flex-direction: column;
}

.socials li{
    display: flex;
    justify-content: space-between;
   
}

ul i {
    margin: 0 10px;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.contact-info h4 {
    display: flex;
    margin-left: 45px;
}



