@use "variables" as*;

// form

.form-box {
    display: flex;
    margin-left: 150px;
    margin-top: -150px;
    background-color: white;
    height: fit-content;
    width: fit-content;
}

form {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.form-container {
    display: flex;
    margin-bottom: 20px;
}

.name {
    margin-right: 20px;
}

.name,
.email-address {
    border: 0px solid $quaternary;
    border-bottom: 2px solid $quaternary;
    background-color: $tertiary;
}

textarea {
    border: none;
    border: 2px solid $quaternary;
    resize: none;
}

.contact-btn {
    display: flex;  
}


