@use "variables" as *;


@media (max-width:500px){

    body{
        p{
            width: max(200px,100%);
            font-size: clamp(0.9rem, 1.25vw, 1rem);
        }
        button, nav{
            font-size: clamp(0.9rem, 1.25vw,1rem);
        }
    }
    
    .homepg-header{
        background-size:cover;
        height: 55vh;
    }

    nav{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }

    .headerbox-img{
        display: none;
    }

    h1{
        transform: translateX(-335px);
        margin-top: -200px;
        color: $primary;
    }

    .about-captured{
      transform: translateY(-100px);    
        h2{
           margin-left: -20px;
        }
        p{
            margin-top: -10px;   
        }
        button{
            padding: 5px;
            margin-bottom: -200px;
            margin-right: 20px; 
        }
    }

.skills-gears{

    .box-2{
        max-width:80%;
        margin-top:30px;
    }

    .box-3{
        max-width:70%;
        margin-top:30px;
        margin-left:auto;

        button{
            margin-left: 5px;
        }
    }
}
.box-1,.box-4, .small-img,.home-gallery{display: none;}

}

// targeting the contact pg 






