@use "variables" as *;

html {
    font-size: 125%;
}

body{
    font-family: $body-font;
    font-size: 1.25rem;
    color: $primary;
}

h1,
h2,
h3,
h4,
button,
nav,
.email {
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    margin: 0;
}

h1 {
    font-size: 8.625rem;
}

h2 {
    font-size: 5rem;
    line-height: 92px;
}

h3 {
    font-size: 2.625rem;
    letter-spacing: 1px;
}

h4 {
    font-size: 2rem;
    letter-spacing: 1px;
}

button {
    font-size: 1.25rem;
    line-height: 32px;
    letter-spacing: 1px;
}

nav {
    font-size: 1.25rem;
    line-height: 29px;
    letter-spacing: 1px;
}

.email {
    font-size: 1.25;
    line-height: 32px;
}

p {
    line-height: 1.5rem;
}

