@use "variables" as *;


body{
    font-family: $body-font;
    font-size: 1rem;
    color: $primary;
    background-color:$secondary;
}

h1,
h2,
h3,
h4,
button,
nav,
.email {
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    margin: 0;
}

h1 {
    font-size: 5rem;
    // font-size: clamp(1rem, 10vw, 5rem);
}

h2 {
    font-size: 2rem;
    line-height: 92px;
    // font-size: clamp(1rem, 6vw, 2rem);
    
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    // font-size: clamp(0.9rem, 6vw, 1.5rem);
}

h4 {
    font-size: 1rem;
    letter-spacing: 1px;
    // font-size: clamp(0.9rem, 6vw, 1.5rem);
}

button {
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 1px;
    background-color: $quaternary;
    border: none;
}

nav {
    font-size: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
}

.email {
    font: size 1.625rem;
    line-height: 32px;
}

p {
    line-height: 1.5rem;
}

li{
    list-style: none;
}