// site fonts 
$body-font: 'Roboto',sans-serif; 
$heading-font:'Playfair Display',serif ;


/* site colours */ 
$primary:  #2C2C2C;
$secondary: #EFFDF3;
$tertiary:#FAFAFA;
$quaternary: #4CEEA7;
$quinary: #FDFA69;


